GOOGLE_API_KEY=

OPENAI_API_KEY =

# for ai retrieval attachment link {SITE_URL}/show?filename.pdf
SITE_URL=

# if using vercel blobs storage
BLOB_READ_WRITE_TOKEN=

NUXT_SESSION_PASSWORD=

DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=