GOOGLE_API_KEY=

OPENAI_API_KEY =

# for ai retrieval attachment link {SITE_URL}/show?filename.pdf
SITE_URL=

# to use in nuxt useStorage(STORAGE_NAME), define in nuxt config
STORAGE_NAME=

# for document retrieval link in client view (document, thumbnail etc)
STORAGE_URL=

# using supabase storage 
AVATAR_URL=

# if using vercel blobs storage
BLOB_READ_WRITE_TOKEN=

NUXT_SESSION_PASSWORD=

DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=