# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
documents

# Local env files
.env
.env.*
!.env.example

# VSC
.history

#public
storage/documents/*
storage/avatars/*
public/documents/*
public/avatars/*
